<h4>Login</h4>
<center>
    <form action="/process.php" method="post" role="form">
        <div class="input-group" style="margin-bottom: -1px;">
            <span class="input-group-addon" style="border-bottom-left-radius: 0;"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" style="border-bottom-right-radius: 0;" type="text" name="teamname" placeholder="Teamname" required/>
        </div>
        <div class="input-group">
            <span style="border-top-left-radius: 0;" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input style="border-top-right-radius: 0;" class="form-control" type="password" name="password" placeholder="Password" required/>
        </div><br/>
        <input type="submit" name="login" value="Log In" class="btn btn-primary btn-block"/>
    </form>
    <a href='/register'>New Team? Register Here.</a>
</center>
<h4>Team</h4> 
<table class='table table-condensed'>
<tr><th>Team Name</th><th>Score</th><th>Overall Rank</th></tr>
</table>