{{! Give admin Judge settings button}}
{{#if session.authorized}}
    {{#if session.isAdmin}}
        <a class='btn btn-primary pull-right' style='margin-top: 10px;' href='/adminjudge'>
            <i class='glyphicon glyphicon-edit'></i>
            Edit Judge Settings
        </a>
    {{/if}}
{{/if}}
<center>
    <h1>Notice</h1>
</center>